# Telegram bot tokeni (@BotFather dan olinadi)
BOT_TOKEN=8869611572:AAGmELrGaBTSCpvICMrFiEDqRagsXww01WQ

# PostgreSQL ulanish manzili
DATABASE_URL=postgresql+asyncpg://postgres:a2012a@localhost:5432/mybot_db

# Admin(lar) Telegram ID raqami (vergul bilan ajratib bir nechtasini yozish mumkin)
ADMIN_IDS=8803054020

# Mahsulot narxi (so'mda)
PRODUCT_PRICE=199000

# Veb-sayt manzili (userga to'lovdan keyin yuboriladi)
WEBSITE_URL=https://abdulaziz-avazov.vercel.app

# ===== Click sozlamalari (merchant hisobi olingandan keyin to'ldiriladi) =====
CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=

# ===== Payme sozlamalari (merchant hisobi olingandan keyin to'ldiriladi) =====
PAYME_MERCHANT_ID=
PAYME_KEY=

# To'lov rejimi: mock (test) yoki real
PAYMENT_MODE=mock
